# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Data files
*.csv
*.pkl
*.parquet

# IDE
.vscode/
.idea/

# Environment variables
.env